@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(151, 151, 151);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 60rem;
    background-color: white;
    margin: auto;
    margin-top:1rem;
    border-radius: 3px;
}
header{
    background-color: rgb(197, 19, 19);
    width:60rem;
    height:60px;
    border-radius: 3px;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    padding-top: 22px;
    letter-spacing: 1px;
}
span{
    font-size:small;
    font-weight:lighter;
}
h2{
    padding-left: 10px;
    font-weight: 900; 
    
}
.required{
    color: red;
    padding-left: 10px;
    font-size: small;
}
.first-sec{
    margin-top: 110px;
}
section
{
    background-color: rgb(233, 233, 233);
    padding-bottom: 20px;
    margin-left:5px ;
    margin-right:5px ;
}
form{
    margin-left: 150px;
}
h3{
    border-radius: 3px;
    background-color: rgba(175, 175, 175, 0.677);
    height: 22px;
    padding:3px 0 0 15px;
}
.red{
    color: red;
}
input[type="text"],input[type="number"]{
    height: 15px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.327) 0 0 5px;
    border-color: aliceblue;
    border-radius: 4px;
}
select{
    border: 2px;
    height: 19px;
    width: 308px;
    box-shadow: rgba(0, 0, 0, 0.327) 0 0 5px;
    border-color: aliceblue;
    border-radius: 4px;
}
label{
    display: inline-block;
    width:140px;
    text-align: right;
    padding-right: 2px;
}
.info{
    margin-bottom: 15px;
    white-space: nowrap;
}

.status-box {
    width: 285px;
    background-color: white;
    border: 1px solid rgba(175, 175, 175, 0.677);
    border-top-color: rgba(0, 0, 0, 0.518);
    box-shadow: rgba(175, 175, 175, 0.677) 0 0 5px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 150px; 
}
.status-box label{
    width: auto;
    text-align: left;
    display: inline;
}
.work{
    margin-right: 5px;
}
textarea{
    width: 302px;
    border: 1px solid rgba(175, 175, 175, 0.677);
    box-shadow: rgba(175, 175, 175, 0.677) 0 0 5px;
    height: 80px;
    border-radius: 5px;
}
.job
{
    display: inline-block;
    padding-right: 8px;
    vertical-align: top;
}
input[type="file"]{
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.368) 0 0 10px;
    background-color: white;
}
footer{
    margin-top: 20px;
    margin-left: 400px;
    padding-bottom: 50px;
}

button{
    margin-right: 10px;
    width:70px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.495) 0 0 4px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 0;
}

